<a href="https://colab.research.google.com/github/HemantSudarshan/DSA-Battleground---30-Days-Mar-15-Apr-14-/blob/main/Day12ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

students = [
    {'name': 'Amit', 'semesters': [{'Math': 88, 'Science': 91, 'English': 85}, {'Math': 90, 'Science': 92, 'English': 84}]},
    {'name': 'Pooja', 'semesters': [{'Math': 79, 'Science': 95, 'English': 88}, {'Math': 82, 'Science': 81, 'English': 85}]},
    {'name': 'Ravi', 'semesters': [{'Math': 87, 'Science': 88, 'English': 89}, {'Math': 91, 'Science': 90, 'English': 93}]}
]


studenttotals = {}
for student in students:

    student_passes = True
    for semester in student['semesters']:

        for subject_score in semester.values():
            if subject_score <= 80:
                student_passes = False
                break
        if not student_passes:
            break


    if student_passes:
        total = 0
        for semester in student['semesters']:
            total += sum(semester.values())
        studenttotals[student['name']] = total

print(studenttotals)

{'Amit': 530, 'Ravi': 538}

In [3]:
cities = [{'name': 'Mumbai', 'areas': {'Andheri': [32, 33, 31, 30, 29, 34, 35], 'Bandra': [31, 32, 30, 30, 31, 33, 34]}}, {'name': 'Delhi', 'areas': {'Rohini': [28, 29, 27, 30, 31, 32, 29], 'Saket': [33, 35, 36, 34, 33, 32, 31]}}, {'name': 'Chennai', 'areas': {'T Nagar': [34, 35, 36, 37, 34, 35, 33], 'Velachery': [32, 31, 33, 34, 32, 30, 31]}}]

hot_cities = [c['name'] for c in cities if all(sum(t)/len(t) > 30 for t in c['areas'].values())]

print(hot_cities)

['Mumbai', 'Chennai']